body {
	font-family: "Space Mono", Arial, serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.8;
	color: #4d4d4d;
	background: #FF9B19;
	text-align: center;
}

h1 {
 	font-family: "Kaushan Script";
}

.container { 
 	padding: 100px 10px;
}

.profile-thumb {
	background-size: cover !important;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}